@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body{
    background-color: #E1D7C6;
}
/* Button Styling */

h1{
    margin-top: 10px;
    text-align: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 30px;
}
a {
  display: block;
  width: 14rem;
  height: 3.5rem;
  line-height: 52px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.4s;
}
a span {
  position: relative;
  z-index: 2;
}
a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #579BB1;
  transition: all 0.35s;
}
a:hover {
  color: #fff;
}
a:hover:after {
  width: 100%;
}

#map{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
